extends layout

block content
    #images.row
        each image in images
            .col-xl-2.col-lg-3.col-md-4.col-sm-6.mb-3(class=image.type)
                a.card(href=image.path)
                    .overlay
                    img.img-fluid(src=image.path)
                    .date-time
                        .small= image.date
                        .small.text-right= image.time

    script(src="/js/gallery.js")